.top-bar button {
    all: unset;
    cursor: pointer;
    color: white;
    padding: 0 20px;
    height: 48px;
    font-weight: bold;
}

.top-bar button:hover {
    background-color: #b3cde0;
    color: black;
}

.top-bar {
    background-color: #005b96;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}